<!-- もっといいやり方があるかもしれない -->
<div class="keyboard">
  <div class="top">
    <span class="key" [class.next]="nextKey === 'q'">Q</span>
    <span class="key" [class.next]="nextKey === 'w'">W</span>
    <span class="key" [class.next]="nextKey === 'e'">E</span>
    <span class="key" [class.next]="nextKey === 'r'">R</span>
    <span class="key" [class.next]="nextKey === 't'">T</span>
    <span class="key" [class.next]="nextKey === 'y'">Y</span>
    <span class="key" [class.next]="nextKey === 'u'">U</span>
    <span class="key" [class.next]="nextKey === 'i'">I</span>
    <span class="key" [class.next]="nextKey === 'o'">O</span>
    <span class="key" [class.next]="nextKey === 'p'">P</span>
  </div>

  <div class="center">
    <span class="key" [class.next]="nextKey === 'a'">A</span>
    <span class="key" [class.next]="nextKey === 's'">S</span>
    <span class="key" [class.next]="nextKey === 'd'">D</span>
    <span class="key" [class.next]="nextKey === 'f'">F</span>
    <span class="key" [class.next]="nextKey === 'g'">G</span>
    <span class="key" [class.next]="nextKey === 'h'">H</span>
    <span class="key" [class.next]="nextKey === 'j'">J</span>
    <span class="key" [class.next]="nextKey === 'k'">K</span>
    <span class="key" [class.next]="nextKey === 'l'">L</span>
  </div>

  <div class="bottom">
    <span class="key" [class.next]="nextKey === 'z'">Z</span>
    <span class="key" [class.next]="nextKey === 'x'">X</span>
    <span class="key" [class.next]="nextKey === 'c'">C</span>
    <span class="key" [class.next]="nextKey === 'v'">V</span>
    <span class="key" [class.next]="nextKey === 'b'">B</span>
    <span class="key" [class.next]="nextKey === 'n'">N</span>
    <span class="key" [class.next]="nextKey === 'm'">M</span>
  </div>
</div>


